.site {
    display: grid;
    height: 100vh;
    grid-template-rows: 6vh 91vh 3vh;
}

.siteHeader {
    background-color: #00CC66;
    display: grid;
    grid-template-columns: 200px auto 200px;
    align-items: center;
}

.siteContent {}

.siteFooter {
    background-color: #00CC66;
}

.headerBackButton {
    height: 100%;
}

.headerMainText {
    text-align: center;
    color: white;
    font-size: 4vh;
}

.slick-slider {
    width: 100vw;
    height: 91vh;
}


/* page formating */

.page {
    height: 91vh;
}

.pageHeader {
    padding-top: 40px;
    padding-bottom: 10px;
    width: 100%;
}

.pageContent {
    height: inherit;
    overflow-y: auto;
    qpadding: 20px;
}


/* div formatting */

.usablePage {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.paddedPage {
    background-color: yellow;
    padding-left: 2%;
    padding-right: 2%;
}

.slimDiv {
    margin-left: auto;
    margin-right: auto;
    max-width: 150mm;
    width: calc(100% - 20px);
}

.doubleColumnContainer {
    display: flex;
    width: 100%;
}

.doubleColumnColumn {
    flex: 50%;
}


/* texts */

.info {
    color: gray;
    font-weight: 200;
    margin: 5px;
}

.centerText {
    text-align: center;
}


/* grid list */

.gridListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.gridListItemContainer {
    width: calc(33.33333% - 20px);
    padding: 10px;
}

@media screen and (max-width: 280mm) {
    .gridListItemContainer {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 160mm) {
    .gridListItemContainer {
        width: calc(100% - 20px);
    }
}

.cardImage {
    height: 300px !important;
}


/* ingredient list */

.ingredientListItem {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}

.ingredientListItem:hover {
    box-shadow: 0 1px 3px #000000;
    background-color: #ffffff6c;
}


/* recipe page */

.recipeInstructionCard {
    margin: 10px;
}

.recipeIngredientListRow {
    display: flex;
    width: 100%;
    padding: 10px;
}

.recipeIngredientListLeftColumn {
    flex: 20%;
}

.recipeIngredientListRightColumn {
    flex: 80%;
}


/* other */

.slick-dots li button {
    pointer-events: none;
}

.endSearchButton {
    transform: translate(0, -18px) !important;
}

.menuButton {
    padding: 12px !important;
    border-radius: 50px !important;
}


/* on iOS safari */

@supports (-webkit-overflow-scrolling: touch) {
    /* extra page height */
    .extraPageHeight {
        qheight: 320px;
    }
}


/* not iOS safari */

@supports not (-webkit-overflow-scrolling: touch) {
    /* extra page height */
    .extraPageHeight {
        qheight: 250px;
    }
}