.site {
    position: fixed;
    display: grid;
    height: 100vh;
    grid-template-rows: 8vh calc(92vh - 30px) 30px;
}

.siteHeader {
    background-color: #00CC66;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    align-items: center;
}

.siteFooter {
    background-color: #00CC66;
}


/* header */

.headerBackButton {
    height: 100%;
    max-width: 60mm;
}

.headerMainText {
    text-align: center;
    color: white;
    font-size: 5vh;
    width: 100%;
    max-width: 80mm;
    margin: auto;
    cursor: pointer;
}


/* content */

.slick-slider {
    width: 100vw;
    height: calc(92vh - 30px);
}


/* page formating */

.page {
    height: calc(92vh - 30px);
}

.headedPageContainer {
    display: grid;
    height: 100%;
    grid-template-rows: 60px calc(100% - 60px);
}

.pageHeader {
    display: flex;
    flex-direction: row;
    height: 100%;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.pageContent {
    overflow-y: auto;
    height: 100%;
}

.pageFooter {
    display: flex;
    align-items: flex-start;
    padding-top: 0.5%;
}


/* div formatting */

.usablePage {
    width: calc(100% - 20px);
    max-width: 300mm;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.slimDiv {
    width: 100%;
    max-width: 150mm;
    margin-left: auto;
    margin-right: auto;
}

.doubleColumnContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.doubleColumnColumn {
    flex: 50%;
}

.fullDiv {
    height: 100%;
    width: 100%;
}

.centerdDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


/* texts */

.info {
    color: gray;
    font-weight: 200;
    margin: 5px;
}

.centerText {
    text-align: center !important;
}


/* grid list */

.gridListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.gridListItemContainer {
    width: calc(33.33333% - 20px);
    padding: 10px;
}

.cardImage {
    height: 300px !important;
    object-fit: cover;
}


/* ingredient list */

.ingredientListItem {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

.ingredientListItem:hover {
    box-shadow: 0 1px 3px #888888;
    background-color: #ffffff6c;
}


/* recipe page */

.recipeInstructionCard {
    margin: 10px;
}

.recipeIngredientListRow {
    display: flex;
    width: 100%;
    padding: 10px;
}

.recipeIngredientListLeftColumn {
    flex: 20%;
    text-align: right;
    padding-left: 8px;
    padding-right: 8px;
}

.recipeIngredientListRightColumn {
    flex: 80%;
    padding-left: 8px;
    padding-right: 8px;
}

.recipePageImage {
    width: 100%;
    box-shadow: 2px 0 6px -2px #888888;
    object-fit: cover;
}

.recipeNameText {
    margin: 10px !important;
}

.ownerInfoCardContent {
    padding: 10px !important;
}

.ownerInfoLower {
    display: grid !important;
    grid-template-columns: 20% 80% !important;
    column-gap: 20px;
    align-items: center !important;
    margin-right: 10px;
}

.ownerLogo {
    width: 100% !important;
    object-fit: contain;
}


/* other */

.slick-dots li button {
    pointer-events: none;
}

.slick-dots:hover {
    pointer-events: none;
}

.endSearchButton {
    transform: translate(0, -7px);
    display: none;
    visibility: hidden;
}

.menuButton {
    padding: 12px !important;
    border-radius: 50px !important;
    margin-top: 30px !important;
}

.loadingIndicator {
    margin: 15px;
}

.loadMoreRecipesContainer {
    margin-top: 80px;
    margin-bottom: 80px;
    height: calc(100% - 160px);
}

.link {
    color: #0000EE !important;
    font-size: 1em !important;
}

.bottomOverlay {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0px;
}

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 500;
}


/* on iOS whit safari browser */

@supports (-webkit-overflow-scrolling: touch) {
    .site {
        grid-template-rows: 8vh calc(92vh - 100px) 100px;
    }
    .slick-slider {
        height: calc(92vh - 100px);
    }
    .page {
        height: calc(92vh - 100px);
    }
}


/* on fire fox browser */

@-moz-document url-prefix() {
    .endSearchButton {
        transform: translate(0, -7px);
        display: block;
        visibility: visible;
    }
}


/* touch screen */

@media (hover: none) {
    .ingredientListItem:hover {
        box-shadow: none;
        background-color: transparent;
    }
}


/* slim view */

@media screen and (max-width: 270mm) {
    .gridListItemContainer {
        width: calc(50% - 20px);
    }
}


/* super slim view */

@media screen and (max-width: 160mm) {
    .gridListItemContainer {
        width: calc(100% - 20px);
    }
    .pageHeader {
        border-radius: 0 !important;
    }
}

@media screen and (max-width: 250mm) {
    .doubleColumnContainer {
        flex-direction: column;
    }
}